.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.candidate,
.selectedCandidate {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.selectedCandidate {
	border: 1px solid;
}
