.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	align-items: center;
	justify-content: center;

	table {
		thead {
			tr {
				height: 60px;
				vertical-align: middle;
			}
		}
		tr {
			vertical-align: baseline;
		}
	}
}

.list {
	padding: 0 53px 30px;
	background-color: white;
	opacity: 80%;
}

.date {
	font-size: 16pt;
}

.time {
	font-size: 10pt;
	font-family: Roboto;
}

.name {
	font-size: 14pt;
	font-family: Roboto;
}

.candidate {
	font-size: 14pt;
	font-family: Roboto;
	font-weight: bold;
}

.error {
	color: white;
}
